<h1>A list of Products</h1>

<p>New Product</p>

<div class="product">
  <% @products.each do |p| %>
    <p><%= p.name %></p>
    <p><%= p.description %></p>
    <p><%= p.formatted_price %></p>></p>
  <% end %>
</div>